.venv/*
dist/*
build/*
workforce_optimizer/*.log
./*.csv
workforce_optimizer/*.csv
workforce_optimizer/__pycache__/
workforce_optimizer/lib/__pycache__/
workforce_optimizer/build/*
workforce_optimizer/dist/*
workforce_optimizer/output/*
workforce_optimizer/docs/*.docx